In [179]:
import random

In [185]:
def populate_list(length):
   return [random.randint(10, 50) for i in range(length)]

In [186]:
def sum_list(lst):
    return sum(lst)

In [187]:
#1 Ask the user to enter an integer number between 5 and 15.

while True:
    user_entry = int(input("Enter an integer between 5 and 15: "))
    if user_entry >= 5 and user_entry <= 15:
        break

Enter an integer between 5 and 15: 15

In [190]:
lst = populate_list(user_entry)
print("The elements of the array are:", " ".join(str(i) for i in lst))

The elements of the array are: 24 25 45 14 14 11 29 31 13 14 10 35 22 34 15

In [191]:
total_sum = sum_list(lst)
print("The sum is:", total_sum)

The sum is: 336